#invitados{
	.img-circle {
		text-align: center;
		width: 200px;
		margin: 0 auto;
		display: inline-block;

	}
	@include pad-seccion (100px, 0px);
	.titulo {
		text-align: center;
		h1 {
			@include texto ($naranjo-lab, 60px, bold);
			@include margen-seccion (50px, 0px);
		}
		h5 {
			@include texto ($texto-osc, 18px, normal);
		}
	}
	.invitados-box{
		text-align: center;
		border:1px solid transparent;
		border-radius:0px;
		padding:15px;
		&:hover{
			background-color:$amarillo-lab;
			h3 {
				color: $white;
			}
		}
		margin-top:20px;
	}

	img{
		margin:15px 10px 10px 70px;
		width: 200px;
		height: 200px;
	}
	.caption {
		text-align: center;
		h3 {
			@include texto ($naranjo-lab, 20px, bold);
				&:hover {
					color: $white;
				}
		}
		p {
			@include texto ($texto-osc, 16px, normal);

			a {
				color: $naranjo-lab;
				&:hover {
					color: $amarillo-lab;
				}
			}
		}
		.fa {
			color: $naranjo-lab;
				&:hover {
					color: $white;
				}
		}
		i {
			font-size: 30px;
			margin-right: 10px;
			margin-left: 10px;
		}
	}

}

