#programa{
	@include margen-seccion (50px, 50px);
	.titulo {
		@include margen-seccion (50px, 50px);
	}
	h1{
		text-align: center;
		@include texto ($naranjo-lab, 60px, bold);
		@include margen-seccion (30px, 30px);
	}
	h5{
		text-align: center;
		@include texto ($texto-osc, 16px, normal);
	}

	img{
		width:220px;
		height:200px;
		margin-right: 20px;
	}
	.media:hover{
		background-color: #B6B6B6;
	}
}