body{
	margin: 0;
}
#bienvenida{
	@include pad-seccion (100px, 0px);
	background-image: url(../image/bgstars.jpg);
		background-size: cover;
		background-attachment: fixed;
  		background-repeat: no-repeat;
  		background-position: center center;
  		min-height: 90vh;
  		text-align: center;
	.fondo{
		.welcome{
  			width: 40%;
  		}
  		@media (min-width: 220px) and (max-width: 767px) {
			.welcome{
	  			width: 60%;
	  			margin-top: 40px;
	  		}	
  		}
	}
	.botones {
		@include margen-seccion (100px, 100px);
		.btn-lg{
			@include margen-seccion (30px, 30px);
			background-color: $naranjo-lab;
			border: 1px solid $naranjo-lab;
			color: $white;
			font-weight: bold;
			&:hover{
			background-color: transparent;
			border: transparent;
			}
		}
	}
}

#laboratoria{
	margin: 60px 0;
	.texto {
		h1 {
			@include texto ($naranjo-lab, 60px, bold);
		}
		p {
			@include texto ($texto-osc, 16px, normal);
			@include margen-seccion (30px, 30px);		
		}
	}
	.lab{
		width: 60%;
		margin-top: 80px;
		margin-left: 100px;
	}
}	