body{
	margin: 0;
}
#bienvenida{
	@include pad-seccion (100px, 0px);
	background-image: url(../image/bgstars.jpg);
		background-size: cover;
		background-attachment: fixed;
  		background-repeat: no-repeat;
  		background-position: center center;
  		min-height: 90vh;
  		text-align: center;
	.fondo{
		.welcome{
  			width: 40%;
  		}
  		@media (min-width: 220px) and (max-width: 767px) {
			.welcome{
	  			width: 60%;
	  			margin-top: 40px;
	  		}	
  		}
	}
	.botones {
		@include margen-seccion (30px, 100px);
		.btn-lg{
			@include margen-seccion (10px, 30px);
			background-color: $naranjo-lab;
			border: 1px solid $naranjo-lab;
			&:hover{
			background-color: transparent;
			border: transparent;
			}
			a {
			color: $white;
			font-weight: bold;
			text-decoration: none;
			}
		}
	}
	.fecha{
		text-align: center;
		h1 {
		@include texto ($naranjo-lab, 70px, bold);
		}
	}
}

#laboratoria{
	margin: 60px 0;
	.texto {
		text-align: center;
		h1 {
			@include texto ($naranjo-lab, 60px, bold);
		}
		p {
			@include texto ($texto-osc, 16px, normal);
			@include margen-seccion (30px, 30px);		
		}
	}
	.lab{
		width: 60%;
		margin-top: 80px;
		margin-left: 100px;
	}
	.foto {
		text-align: center;
	}
}	

#colaboradores {
	@include pad-seccion (50px, 70px);
	background-color: $naranjo-lab;
	h1 {
		@include texto ($white, 60px, bold);
		@include margen-seccion (50px, 50px);
	}
	.colab {
		padding: 10px;
		text-align: center;
		height:250px;
		&:hover {
			background-color:$white;
			opacity: 0.8;
			background-image: none;
			p {
				visibility: visible;
				@include texto ($texto-osc, 12px, normal);
			}
			h3 {
				visibility: visible;
				@include texto ($naranjo-lab, 25px, bolder);
			}
		}
		h3 {
			visibility: hidden;
		}
		p {
			visibility: hidden;
		}
	}
	.colabimg {
		text-align: center;
		height:250px;
	}
	.laboratoria {
		background: url(../image/logoblanco.png);
		background-size: 250px;
		background-position: center;
		background-repeat: no-repeat;

	}
	.gitlab {
		background: url(../image//icon-Gitlab.png);
		background-size: 250px;
		background-position: center;
		background-repeat: no-repeat;
	}
	.fabricamedios {
		background: url(../image/icon-Blanco.png);
		background-size: 250px;
		background-position: center;
		background-repeat: no-repeat;
	}
	.delsol {
		background: url(../image/icon-sol.png);
		background-size: 250px;
		background-position: center;
		background-repeat: no-repeat;
	}
}


#meetup {
	@include pad-seccion (50px, 150px);
	background-color: $naranjo-lab;
	.titulo {
		h1 {
			text-align: center;
			@include texto ($amarillo-lab, 60px, bold);
			@include margen-seccion (50px, 0px);
			span {
				@include texto ($white, 60px, bold);
			}
		}
		@media (min-width: 220px) and (max-width: 767px) {
			h1 {
				text-align: center;
				@include texto ($amarillo-lab, 40px, bold);
				span {
					@include texto ($white, 40px, bold);
				}
			}
		}
	}
	.suma {
		@include margen-seccion (50px, 50px);
		text-align: center;
		img {
			width: 50px;
		}
		span {
			@include texto ($white, 50px, bold);
			margin-right: 20px; 
			margin-left: 20px;
		}
		.fa {
			color: $white;
			font-size: 50px;
		}
	}
	.col-md-4 {
		box-sizing:border-box;
	}
	.blanco {
		@include texto ($texto-osc, 18px, normal);
		background-color: $white;
		padding:20px;
		text-align: center;
		margin: 10px;
		height: 350px;
		button {
			@include boton;
		}
		.fa {
			color: $amarillo-lab;
			font-size: 60px;
			@include margen-seccion (20px, 20px);
		}
	}
	.parraf {
		@include texto ($texto-osc, 16px, normal);
		@include margen-seccion (20px, 0px);
		text-align: center;
		button {
			background-color: $amarillo-lab;
			a {
				color: $white;
				text-decoration: none;
				font-weight: bold;
			}
		}
	}
	.fecha {
		text-align: center;
		@include texto ($texto-osc, 26px, bold);
	}
}
#contacto{
	@include pad-seccion (100px, 0px);
	background-image: url(../image/bgstars.jpg);
		background-size: cover;
		background-attachment: fixed;
  		background-repeat: no-repeat;
  		background-position: center center;
  		min-height: 90vh;
  		text-align: center;

}

