@mixin boton {
	background-color:$naranjo-lab;
	color: $white;
	&:hover {
		background-color:$amarillo-lab;
	}
}

@mixin texto ($color, $size, $peso) {
	font-family: "PT Sans";
	color: $color;
	font-size: $size;
	font-weight: $peso;

}

@mixin estructura-texto ($colortitulo, $colortexto) {
	font-family: "PT Sans"
	h1 {
		font-weight: bolder;
		color: $colortitulo;
	}
	p {
		color: $colortexto;
		font-weight: normal;
	}
}