@mixin boton {
	background-color:$naranjo-lab;
	a {
		color: $white;
		text-decoration: none;
	}
	&:hover {
		background-color:$amarillo-lab;
	}
}

@mixin texto ($color, $size, $peso) {
	font-family: "PT Sans";
	color: $color;
	font-size: $size;
	font-weight: $peso;

}

@mixin estructura-texto ($colortitulo, $colortexto) {
	font-family: "PT Sans"
	h1 {
		font-weight: bolder;
		color: $colortitulo;
	}
	p {
		color: $colortexto;
		font-weight: normal;
	}
}

@mixin margen-seccion ($arriba, $abajo) {
	margin-top: $arriba;
	margin-bottom: $abajo;
}

@mixin pad-seccion ($arriba, $abajo) {
	padding-top: $arriba;
	padding-bottom: $abajo;
}